body {
    margin: 0 auto;
    background-color: lightgray;
}
.control {
    width: 18%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #383838;
    overflow: auto;
}
#title {
    color: darkorange;
    font-weight: bolder;
    text-align: center;
}
nav ul {
    list-style: none;
}
nav ul ul {
    list-style: none;
}
.nav {
    text-align: left;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;
    display: block;
    color: lightgray;
    font-size: 20px;
    padding-top: 25px;
}
.nav2 {
    list-style: none;
    width: 100%;
    display: block;
    color: lightgray;
    font-size: 20px;
}
.main {
    top: 0;
    position: absolute;
    margin-left: 18%;
}





.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}